<div class='fixed-top'>
	<div class="container">
		<nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Bookers</a>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
			</ul>
		</nav>
	</div>
</div>